.deps/
m4/
*.o
aclocal.m4
autom4te.cache/
filter
collector
config.log
config.status
config.h.in*
libtool
depcomp
missing
config.sub
config.guess
install-sh
ltmain.sh
stamp-h1
Makefile.in
.temp.aggr.*
.temp.db.*
Makefile
Makefile.am.new
"\\"
dumps/
filter.sh
serial
small_source.txt
source.txt
!.gitmodules
